/*Home section*/
#home{
    height: 820px;
}

#home::before{
    height: 925px;
}

.headings{
    font-size: 1.7rem;
}

#education{
    font-size: .75rem;
}

.box{
    height: 520px;
    transition: all .8s;
}

.box:active{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(150, 211, 250);
}

#projects{
    font-size: .75rem;
}

.box1{
    height: 530px;
}

/*about section*/
#pic img{
    width: 175px;
    height: 250px;
}

/*Contact section*/
.input{
    width: 80%;
}

#msg{
    width: 70%;
}

#send{
    width: 20%;
}
